<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <add key="network_domain" value="MYDOMAIN"/>
    
    <!-- Users in this comma-separated list can use the impersonation function. -->
    <!-- Use the "i" url parameter to impersonate another user.  Example:  http://mysite/?i=jonesd  
    -->
    <add key="admins" value="me,someone_else"/>

    <!-- Used to control access.  Comma-separated list of users who are allowed to login.  Should usually be commented out unless you want to prevent access. -->
    <!--<add key="allowed" value=""/>-->

    <!-- Default Tenant -->
    <add key="recipient" value="https://wd5-impl.workday.com/tenant_name/login-saml.flex"/>
    <add key="issuer" value="MyCertSubject"/>
    <add key="domain" value="http://www.workday.com"/>
    <add key="cert_issuer_name" value="MyCertSubject"/>
    <add key="target" value="https://wd5-impl.workday.com/tenant_name/fx/home.flex"/>

    <!-- P3 Tenant -->
    <!-- Use the "tenant" url parameter to address multiple tenants.  Example:  http://mysite/?tenant=p3  
    -->
    <add key="p3_recipient" value="https://wd5-impl.workday.com/tenant_name/login-saml.flex"/>
    <add key="p3_issuer" value="MyCertSubject"/>
    <add key="p3_domain" value="http://www.workday.com"/>
    <add key="p3_cert_issuer_name" value="MyCertSubject"/>
    <add key="p3_target" value="https://wd5-impl.workday.com/tenant_name/fx/home.flex"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="On" defaultRedirect="error.aspx" redirectMode="ResponseRewrite"/>
  </system.web>
</configuration>